<%- include ("partials/header.ejs") %> 
<%- include ("partials/hnavbar.ejs") %> 

        <div class="container">
            <hr>
            <div class="jumbotron">
                <h1 class="display-3">Bem vindo</h1>
                <p class="lead">Blog do GuiapPress</p>
                <hr class="my-2">
                <p>Projeti utilizando nodejs e mais plugins</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Home</a>
                </p>
            </div>

            <% articles.forEach(article => { %>
                <div class="card">
                    <div class="card-header">
                        <h2><%= article.title %></h2>
                    </div>
                    <div class="card-body">
                        <a class="btn btn-success" href="/<%= article.slug %> ">Ler Argigo</a>
                    </div>
                </div>
            <br>        
            <%  }) %>
            <div class="row ">
                <div class="col col-12">
                    <a class="float: hight" href="articles/page/2">Next ></a>
                </div>
                <hr>
            </div>
            <hr>
        </div>

<%- include ("partials/footer.ejs") %> 